
body {
    font-family: 'Cardo', Helvetica;
    color: #1B3764;
  }
  
  a {
    text-decoration: none;
  }
  
  .header {
    margin: 0px;
    padding: 20px;
    background-color: #1B3764;
  }
  
  .title {
    width: 20rem;
    color: white;
    font-size: 20px;
    margin: 0px 0px 0px 5px;
    display: inline-block;
  }
  
  .menuBarContainer {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .menuBar {
    width: 100%;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .menuBar li {
    margin-right: 10px;
  }
  
  .menuBar li a {
    font-size: 12px;
    color: white;
  }
  
  .loginButton {
    width: 4.5rem;
    height: 2rem;
    padding: 5px;
    float: right;
    display: inline;
    border: 0px;
    background-color: #FFCA42;
    color: #1B3764;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Cardo', Helvetica;
  }
  
  .loginButton:hover {
    background-color: white;
  }
  
  .searchField {
    background-color: #1B3764;
    margin-top: 30px;
    padding: 10px 5px 10px 5px;
    text-align: center;
  }
  
  .searchTitle {
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: 20px;
  }
  
  .horizontalLine {
    width: 3rem;
    height: 2px;
    background-color: #FFCA42;
    margin: 0px auto 20px auto;
    position: relative;
  }  

  .bodyContainer {
    margin-top: 2rem;
  }
  
  .titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .secTitle {
    font-size: 20px;
    width: 41rem;
    color: #1B3764;
  }

  .descContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .descDiv {
    display: flex;
    width: 41rem;
  }

  .descCover {
    margin-left: 2rem;
  }

  .reviewInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reviewButtonContainer {
    width: 41rem;
    float: left;
  }
  
  .addButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0px;
  }
  
  .chatForm {
    text-align: center;
    width: 41rem;
    margin: 2rem auto;
  }

  .chatForm input {
    width: 31.5rem;
    height: 2rem;
    border: 1px solid gray;
    border-radius: 5px;
  }

  .addButton {
    width: 4rem;
    height: 2.2rem;
    padding: 5px;
    margin-left: 0.5rem;
    display: inline;
    border: 0px;
    background-color: #FFCA42;
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Cardo', Helvetica;
  }
  
  .addButton:hover {
    color: white;
    background-color: #1B3764;
  }

  .footer {
    padding: 8px; 
    background: #1B3764;
    text-align: center;
    color: white;
  }   
  
  .footer h2{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
  }
  
  .footer p{
    text-align: center;
    font-size: 10px;
  }
  
  .footer ul {
    padding: 0px;
  }
  
  .copyright {
    background: #1B3764;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1.5em 0 1em 0;
    width: 100%;
  }

  img {
    width: 13rem;
  }

  .reviewButtonContainer button {
    background-color: transparent;
    border: none;
    margin-bottom: 0.7rem;
    padding: 0 0.5rem 0 0;
  }

  .listDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .bookDivContainer {
    width: 41rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .bookDiv {
    width: 19rem;
    height: 6rem;
    background-color: #1B3764;
    border: 0px;
    box-shadow: 0px 2px 8px 0px rgb(174, 174, 174);
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bookTitle {
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 1rem;
  }

  .bookAuthor {
    color: white;
    text-align: center;
    font-size: 11px;
    padding: 0px;
    margin: 0px 0px 0px 10px;
  }

  img {
    width: 10rem;
  }

  .forumContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 0px;
    margin-bottom: 4rem;
    background-color: #F5F8FC;
  }

  .forumDiv {
    width: 18rem;
    height: 6rem;
    background-color: white;
    border: 0px;
    box-shadow: 0px 2px 8px 0px rgb(174, 174, 174);
    margin: 1rem;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .forumTitle {
    color: #1B3764;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 1rem;
  }

  .forumDesc {
    color: #1B3764;
    text-align: center;
    font-size: 11px;
    padding: 0px;
    margin: 0px 0px 0px 10px;
  }

.longHorizontalLine {
    width: 41rem;
    height: 1.5px;
    background-color: lightgray;
    margin: 0px auto 20px auto;
  }

.chatBoxLeft {
    float: left;
    background-color: #F5F8FC;
    width: 25rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    font-size: 16px;
    font-weight: 500;
}

.chatBoxRight {
    float: right;
    background-color: #F5F8FC;
    width: 25rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    font-size: 16px;
    font-weight: 500;
}

.likeContainer {
    float: right;
}

.chatContainer {
    width: 41rem;
    margin: 0 auto;
}

.nicknameText {
    font-weight: 600;
}

.dateText {
    display: block;
    font-size: 14px;
    margin: 0.5rem 0;
}