.index {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .div-10 {
  background-color: #ffffff;
  height: 3721px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.index .buttons-ranking {
  height: 287px;
  left: 534px;
  position: absolute;
  top: 2602px;
  width: 852px;
}

.index .go-to-all-ranking {
  align-items: center;
  background-color: #1b3764;
  border-radius: 37.55px;
  display: flex;
  gap: 7.51px;
  height: 117px;
  justify-content: center;
  left: 0;
  padding: 4.51px 30.79px 5.26px;
  position: absolute;
  top: 0;
  width: 852px;
}

.index .text-wrapper-j {
  color: #ffffff;
  font-family: "Cardo", Helvetica;
  font-size: 26.3px;
  font-weight: 700;
  letter-spacing: -0.26px;
  line-height: 39.1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.index .share-my-result {
  align-items: center;
  background-color: #1b3764;
  border-radius: 37.55px;
  display: flex;
  gap: 7.51px;
  height: 117px;
  justify-content: center;
  left: 0;
  padding: 4.51px 30.79px 5.26px;
  position: absolute;
  top: 170px;
  width: 852px;
}

.index .quiz-grade-content {
  height: 721px;
  left: 361px;
  position: absolute;
  top: 650px;
  width: 1201px;
}

.index .quiz-grade {
  color: #1b3764;
  font-family: "Cardo", Helvetica;
  font-size: 45.1px;
  font-weight: 700;
  left: 331px;
  letter-spacing: -0.9px;
  line-height: 54.1px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 535px;
}

.index .quiz-point {
  color: #fb4b3f;
  font-family: "Nanum Pen-Regular", Helvetica;
  font-size: 338px;
  font-weight: 400;
  left: 331px;
  letter-spacing: -6.76px;
  line-height: 405.6px;
  position: absolute;
  text-align: center;
  top: 146px;
  white-space: nowrap;
  width: 535px;
}

.index .line-j {
  height: 2px;
  left: 0;
  position: absolute;
  top: 719px;
  width: 1197px;
}

.index .my-quiz-ranking {
  height: 884px;
  left: 417px;
  position: absolute;
  top: 1591px;
  width: 1088px;
}

.index .overlap-group-j {
  border-radius: 37.55px;
  height: 884px;
  position: relative;
  width: 1086px;
}

.index .my-ranking {
  color: #1b3764;
  font-family: "Cardo", Helvetica;
  font-size: 45.1px;
  font-weight: 700;
  left: 280px;
  letter-spacing: -0.9px;
  line-height: 54.1px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 535px;
}

.index .rectangle-j {
  border: 2.25px solid;
  border-color: #1b3764;
  border-radius: 37.55px;
  height: 884px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1086px;
}

.index .user-ranking {
  height: 585px;
  left: 400px;
  position: absolute;
  top: 216px;
  width: 283px;
}

.index .pngwing-j {
  height: 248px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 248px;
}

.index .text-wrapper-2-10 {
  color: #ff7f77;
  font-family: "Inter", Helvetica;
  font-size: 22.5px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.23px;
  line-height: 38.3px;
  position: absolute;
  text-align: center;
  top: 392px;
  white-space: nowrap;
  width: 277px;
}

.index .text-wrapper-3-10 {
  color: #1b3764;
  font-family: "Cardo", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 2px;
  letter-spacing: -0.3px;
  line-height: 36.1px;
  position: absolute;
  text-align: center;
  top: 315px;
  white-space: nowrap;
}

.index .text-wrapper-4-10 {
  color: #ffca41;
  font-family: "Amaranth", Helvetica;
  font-size: 97.6px;
  font-weight: 400;
  left: 26px;
  letter-spacing: -1.95px;
  line-height: 117.2px;
  position: absolute;
  text-align: center;
  top: 468px;
  white-space: nowrap;
}

.index .banner-j {
  height: 393px;
  left: -6px;
  position: absolute;
  top: -7px;
  width: 1926px;
}

.index .overlap-j {
  height: 393px;
  position: relative;
}

.index .background {
  background-color: #1b3764;
  height: 393px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 1920px;
}

.index .typetest-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20.91px;
  height: 66px;
  left: 647px;
  position: absolute;
  top: 167px;
  width: 633px;
}

.index .title-j {
  height: 66.45px;
  position: relative;
  width: 257px;
}

.index .img-j {
  height: 2px;
  left: 107px;
  position: absolute;
  top: 64px;
  width: 41px;
}

.index .text-wrapper-5-10 {
  color: #ffffff;
  font-family: "Cardo", Helvetica;
  font-size: 37.3px;
  font-weight: 700;
  left: 0;
  letter-spacing: -0.75px;
  line-height: 41.1px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.index .div-2-10 {
  height: 144px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.index .overlap-2-10 {
  height: 144px;
  position: relative;
}

.index .image-j {
  height: 137px;
  left: 6px;
  position: absolute;
  top: 7px;
  width: 1914px;
}

.index .header-j {
  align-items: center;
  display: flex;
  gap: 484px;
  height: 144px;
  left: 0;
  padding: 0px 0px 0px 95px;
  position: absolute;
  top: 0;
  width: 1920px;
}

.index .icon-j {
  align-items: center;
  display: flex;
  gap: 33px;
  position: relative;
  width: 304.25px;
}

.index .logo-j {
  height: 50px;
  margin-right: -44px;
  position: relative;
  width: 348.25px;
}

.index .text-wrapper-6-10 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 700;
  height: 50px;
  left: 33px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.index .logo-2-10 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 24px;
}

.index .button {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  position: relative;
  width: 978px;
}

.index .menu {
  align-items: center;
  display: flex;
  gap: 26px;
  justify-content: flex-end;
  position: relative;
  width: 532px;
}

.index .overlap-group-wrapper {
  height: 21px;
  margin-left: -80px;
  position: relative;
  width: 540px;
}

.index .overlap-group-2 {
  height: 21px;
  position: relative;
  width: 538px;
}

.index .chevron-down {
  height: 16px;
  left: 390px;
  position: absolute;
  top: 3px;
  width: 16px;
}

.index .home {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 500;
  height: 21px;
  left: 0;
  letter-spacing: -0.17px;
  line-height: 21.2px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.index .cart {
  height: 47.4px;
  position: relative;
  width: 48px;
}

.index .overlap-3 {
  height: 47px;
  position: relative;
}

.index .avatar {
  height: 46px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 48px;
}

.index .number {
  height: 21px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 23px;
}

.index .div-wrapper-10 {
  background-color: #ffca41;
  border-radius: 10.5px;
  height: 21px;
  position: relative;
  width: 21px;
}

.index .text-wrapper-7-10 {
  color: #1b3764;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 800;
  height: 13px;
  left: 5px;
  letter-spacing: -0.1px;
  line-height: 12.5px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.index .button-2 {
  all: unset;
  align-items: center;
  background-color: #ffca41;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 13px 33px;
  position: relative;
}

.index .text-wrapper-8-10 {
  color: #1b3764;
  font-family: "Cardo", Helvetica;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.38px;
  line-height: 23.8px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.index .footer-j {
  background-color: #1b3764;
  height: 510px;
  left: -3px;
  position: absolute;
  top: 3211px;
  width: 1920px;
}

.index .content-j {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 77px;
  height: 342px;
  left: 310px;
  position: relative;
  top: 84px;
}

.index .footer-content {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 181px;
  position: relative;
  width: 1298px;
}

.index .book {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 27px;
  position: relative;
  width: 250px;
}

.index .logo-3-10 {
  height: 38px;
  position: relative;
  width: 131px;
}

.index .text-wrapper-9-10 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 38px;
  left: 38px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.index .logo-4-10 {
  height: 30px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 26px;
}

.index .icon-2-10 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 250px;
}

.index .element {
  height: 55px;
  position: relative;
  width: 57px;
}

.index .overlap-group-3-10 {
  border: 1px solid;
  border-color: #ffca41;
  height: 55px;
  position: relative;
  width: 55px;
}

.index .text-wrapper-10-10 {
  color: #ffffff;
  font-family: "Font Awesome 5 Brands-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0.99px;
  line-height: 21.6px;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
}

.index .text-wrapper-11-10 {
  color: #ffffff;
  font-family: "Font Awesome 5 Brands-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0.99px;
  line-height: 21.6px;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
}

.index .text-wrapper-12-10 {
  color: #ffffff;
  font-family: "Font Awesome 5 Brands-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0.99px;
  line-height: 21.6px;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
}

.index .overlap-wrapper {
  height: 55px;
  margin-right: -2px;
  position: relative;
  width: 57px;
}

.index .text-wrapper-13-10 {
  color: #ffffff;
  font-family: "Font Awesome 5 Brands-Regular", Helvetica;
  font-size: 19px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 1.04px;
  line-height: 22.8px;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
}

.index .content-2 {
  align-items: flex-start;
  display: flex;
  gap: 65px;
  justify-content: flex-end;
  position: relative;
  width: 867px;
}

.index .explore {
  height: 274px;
  position: relative;
  width: 193px;
}

.index .home-about-us {
  color: #b4c7e7;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 45px;
  letter-spacing: -0.18px;
  line-height: 36.9px;
  position: absolute;
  top: 52px;
  width: 144px;
}

.index .icon-3 {
  height: 5px;
  left: 3px;
  position: absolute;
  top: 253px;
  width: 24px;
}

.index .icon-4 {
  height: 5px;
  left: 3px;
  position: absolute;
  top: 217px;
  width: 24px;
}

.index .icon-5 {
  height: 5px;
  left: 3px;
  position: absolute;
  top: 178px;
  width: 24px;
}

.index .icon-6 {
  height: 5px;
  left: 3px;
  position: absolute;
  top: 142px;
  width: 24px;
}

.index .icon-7 {
  height: 5px;
  left: 3px;
  position: absolute;
  top: 105px;
  width: 24px;
}

.index .icon-8 {
  height: 5px;
  left: 3px;
  position: absolute;
  top: 69px;
  width: 24px;
}

.index .text-wrapper-14-10 {
  color: #ffffff;
  font-family: "Cardo", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: -0.48px;
  line-height: 28.8px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.index .utility {
  height: 274px;
  position: relative;
  width: 230px;
}

.index .start-here-style {
  color: #b4c7e7;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 40px;
  letter-spacing: -0.18px;
  line-height: 36.9px;
  position: absolute;
  top: 52px;
}

.index .icon-9 {
  height: 5px;
  left: -1px;
  position: absolute;
  top: 253px;
  width: 24px;
}

.index .icon-10 {
  height: 5px;
  left: -1px;
  position: absolute;
  top: 217px;
  width: 24px;
}

.index .icon-11 {
  height: 5px;
  left: -1px;
  position: absolute;
  top: 178px;
  width: 24px;
}

.index .icon-12 {
  height: 5px;
  left: -1px;
  position: absolute;
  top: 142px;
  width: 24px;
}

.index .icon-13 {
  height: 5px;
  left: -1px;
  position: absolute;
  top: 105px;
  width: 24px;
}

.index .icon-14 {
  height: 5px;
  left: -1px;
  position: absolute;
  top: 69px;
  width: 24px;
}

.index .contact {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 29px;
  position: relative;
  width: 322px;
}

.index .text-wrapper-15-10 {
  color: #ffffff;
  font-family: "Cardo", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.48px;
  line-height: 28.8px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .content-3 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 322px;
}

.index .address {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 14px;
  position: relative;
  width: 322px;
}

.index .text-wrapper-16-10 {
  color: #ffffff;
  font-family: "Cardo", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.36px;
  line-height: 22.5px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.index .p {
  color: #b4c7e7;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 63px;
  letter-spacing: -0.18px;
  line-height: 32.4px;
  margin-top: -1px;
  position: relative;
  width: 232px;
}

.index .mail {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
  width: 277px;
}

.index .text-wrapper-17-10 {
  color: #ffffff;
  font-family: "Cardo", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.36px;
  line-height: 22.5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.index .text-wrapper-18-10 {
  color: #b4c7e7;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.18px;
  line-height: 32.4px;
  margin-top: -1px;
  position: relative;
  width: 187px;
}

.index .phone {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
  width: 283px;
}

.index .text-wrapper-19-10 {
  color: #b4c7e7;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.18px;
  line-height: 32.4px;
  margin-top: -1px;
  position: relative;
  width: 193px;
}

.index .copyright {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  margin-bottom: -61px;
  position: relative;
  width: 1300px;
}

.index .line-2-10 {
  height: 1px;
  margin-top: -1px;
  object-fit: cover;
  position: relative;
  width: 1299px;
}

.index .copyright-2 {
  height: 34px;
  position: relative;
  width: 380.5px;
}

.index .text-wrapper-20-10 {
  color: #b4c7e7;
  font-family: "Cardo", Helvetica;
  font-size: 19px;
  font-weight: 700;
  height: 24px;
  left: 0;
  letter-spacing: 0.38px;
  line-height: 23.8px;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
}

.index .designed-by {
  height: 34px;
  left: 24px;
  position: absolute;
  top: 0;
  width: 357px;
}

.index .drafted-by {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.17px;
  line-height: 34px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.index .span {
  color: #b4c7e7;
}

.index .text-wrapper-21-10 {
  color: #ffffff;
  font-weight: 500;
}
